<section class="flex flex-col md:flex-row gap-x-8 justify-center ">
  <div class="[&>p]:mb-4 [&>p>strong]:text-[#F9FF00] [&>p>strong]:font-semibold text-pretty">
    <p>
      Hi !, my name is Sebastian Gutierrez, although everyone calls me Guti.<strong> I remember the excitement of programming for the first time with my friends when we created an informative website about fruits. I was only 17 years old at the time, and since then, I've grown and evolved in the world of digital development.</strong
      >
    </p>

    <p>
      <strong>
        I've had the privilege of working on various projects where I've been able to provide creative and effective digital solutions.
      </strong>  Some of my biggest achievements include developing an application that manages the shareholding composition of a major Colombian company, providing essential reports to the legal entity for tax and customs purposes.
      Creating a web application for managing temporarily hired human talent, which tracks their assigned tasks, generates reports, and provides insights to measure their performance.
      
      

    <p>
      <strong>These projects not only demonstrate my technical skills but also my ability to understand complex business needs and deliver tailored solutions. 
        </strong>
        I'm excited about the opportunity to bring my expertise to new challenges and make a meaningful impact.
    </p>

  </div>

  <img src="/foto1.webp" class="rounded-full size-64 "/>
</section>
