---
import ExperienceItem from "./icons/ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: 'February 2023 - Present Time ',
        title: 'Web developer and Technology Analyst',
        description: "Access over 10+ web applications, including landing pages. Responsible for creating applications, developing functionalities for existing applications, and providing level 5 support. Conceptualize, create, and implement new designs for the company's design system. Implement high-performance SQL stored procedures.",
    },
    {
        date: 'August 2022 - January 2023',
        title: 'Fullstack Web Developer',
        description: 'Freelance developer responsible for designing, creating, and maintaining websites for several clients. Achieved a 30% improvement in client engagement with their users.',
    },
]
---
<ol class="relative border-s border-gray-200 ml-3">        
    
    {
        EXPERIENCE.map((experience)=>
            <li class="mb-10 ms-4">
            <ExperienceItem {...experience}/>
        </li>
        )
    }
    
</ol>

