<header class="flex justify-center xl:justify-between md:justify-around items-center py-5 w-full xl:w-[1120px] xl:mx-auto">
<img class="rounded-full size-8 xl:size-12 mr-3" src="/logo.webp"/>

<nav class="flex flex-row gap-x-5 xl:gap-x-10 opacity-80 ">
    <a href="/#top">Inicio</a>
    <a href="/#experiencia">Experiencia</a>
    <a href="/#proyectos">Proyectos</a>
    <a href="/#sobre-mi">Sobre mi</a> 
</nav>
</header> 