<a
  class="inline-flex items-center justify-center gap-2 px-4 py-1 transition-all duration-200 rounded-full text-md hover:bg-[#21554E]/50 hover:border-[#21554E] group max-w-fit hover:text-white hover:scale-105"
  {...Astro.props}
  target="_blank"
  rel="noonpener noreferrer"
>
  <slot />
</a>
